{% extends "base.html" %}
{% block content %}

<h2 class="left">Current Members</h2>

<section class="page-container">
    {% for member in members %}
        <div class="list-item">
            <h3><b>{{member.name}}</b></h3>
            {% if member.premium == True %}
                <p><b>Premium Member</b></p>
            {% else %}
                <p>Standard Member</p>
            {% endif %}
            {% if member.activated == False %}
                <p><b>Deactivated</b></p>
            {% endif %}
            <p><a href="/members/{{member.id}}">View/Edit Member Details</a></p>
        </div>
    {% endfor %}
</section>

<h2 class="left"><a href="/members/new">New Member</a></h2>

{% endblock %}