{% extends "base.html" %}
{% block content %}
<br><br><br><br>
<section class="page-container-column">
<form class="form-container" action="/members" method="POST">
    <label for="name">Name: </label>
    <input type="text" id="name" name="name">
    <label for="age">Age: </label>
    <input type="number" id="age" name="age">
    <label for="premium">Premium Membership</label>
    <input type="checkbox" id="premium" name="premium">
    <button type="submit">Create New Member</button>
</form>
</section>
{% endblock %}