{% extends "base.html" %}
{% block content %}

<section class="page-container-column">

    <div class="list-item">
        <p><b>Name</b>: {{member.name}}</b></p>
    </div>
    <div class="list-item">
        <p><b>Age</b>: {{member.age}}</b></p>
    </div>
    {% if member.premium == True %}
        <div class="list-item">
            <p><b>Premium Member</b></p>
        </div>
    {% endif %}
    <div class="list-item">
        <p><a href="/members/{{member.id}}/edit">Edit Member Details</a></p>
    </div>
    {% if member.activated == True %}
        <div class="list-item">
            <p><a href="/members/{{member.id}}/deactivate/confirm">Deactivate</a></p>
        </div>
    {% else %}
        <div class="list-item">
            <p><b>Deactivated</b></p></div>
        </div>
    <div class="list-item">
        <p><a href="/members/{{member.id}}/reactivate">Reactivate</a></p>
    </div>
    {% endif %}

</section>

{% endblock %}