{% extends "base.html" %}
{% block content %}

<p><b>Name</b>: {{member.name}}</b></p>
<p><b>Age</b>: {{member.age}}</b></p>
{% if member.premium == True %}
    <p><b>Premium Member</b></p>
{% endif %}
<p><a href="/members/{{member.id}}/edit">Edit Member Details</a></p>
{% if member.activated == True %}
    <p><a href="/members/{{member.id}}/deactivate/confirm">Deactivate</a></p>
{% else %}
    <p><b>Deactivated</b></p>
    <p><a href="/members/{{member.id}}/reactivate">Reactivate</a></p>
{% endif %}

{% endblock %}