{% extends "base.html" %}
{% block content %}
<br><br><br><br>
<section class="page-container-column">
{% if num_sessions == 0 %}

    <p>No Classes Available</p>

{% else %}

    <form class="form-container" action="/bookings/class/new" method="POST">
        <label for="classes">Class:</label>
            <select name="session_id" id="classes">
                {% for session in sessions %}
                    <option value="{{session.id}}">{{session.name}}</option>
                {% endfor %}
            </select>
        <button type="submit">Next</button>
    </form>

{% endif %}
</section>

{% endblock %}